* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}
:root {
  --primary-color--: #ff0000;
  --secondary-color--: #070211;
}
/* header section  */
.cover {
  height: 600px;
  max-height: 600px;
  max-width: 82.5%;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px auto;
  border-radius: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text {
  max-width: 632px;
  margin: auto auto;
}
.header-text * {
  margin-bottom: 16px;
}
h2 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
}
h1 {
  font-size: 4.5rem;
  font-weight: 900;
  color: white;
}
/* main section  */
.offer {
  text-align: center;
  margin-top: 120px;
}
.red {
  color: var(--primary-color--);
  text-align: center;
  font-size: 5.5rem;
  font-weight: 700;
  font-family: Inter;
}
.small {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}
.black {
  color: var(--secondary-color--);
  text-align: center;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 700;
}
#offer-image {
  max-width: 802.9px;
  max-height: 500px;
  flex-shrink: 0;
  margin: 48px auto;
}
img {
  height: 100%;
  width: 100%;
}
.welcome-container {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}
.welcome {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 120px;
  display: block;
}
.welcome-text {
  max-width: 697px;
  position: relative;
}
.welcome-text h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 24px;
}
#welcome-image {
  max-width: 319.83px;
  max-height: 464.662px;
  margin-top: 70px;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: start;
}
a {
  color: white;
  position: absolute;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  left: 32px;
  text-decoration: none;
  margin-top: 48px;
}
.times {
  max-height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 120px;
}

.time-text p {
  color: var(--secondary-color--);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.times-text-one::before {
  content: "Place:";
  color: var(--primary-color--);
}
.times-text-two::before {
  content: "Date:";
  color: var(--primary-color--);
}
.times-text-three::before {
  content: "Time:";
  color: var(--primary-color--);
}
button {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  padding: 16px 32px;
  background-color: var(--primary-color--);
  border: none;
  border-radius: 16px;
  height: 56px;
  width: 167px;
  margin-top: 45px;
}
.coming {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coming-text {
  max-width: 393px;
}
h3 {
  color: var(--primary-color--);
  text-align: start;
}
.coming-text h1 {
  text-align: start;
}
.coming p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.coming-images {
  max-height: 463px;
  max-width: 463px;
  padding: 30px;
  border-radius: 50%;
  border: 15px solid #f00;
}
.coming-details {
  max-width: 276px;
}
.coming-details-img {
  height: 140px;
  width: 140px;
}
.coming-details h1 {
  color: var(--primary-color--);
  text-align: start;
}
.holiday {
  margin-top: 120px;
  background: none;
  position: relative;
  max-height: 960px;
  height: 960px;
}
.holiday-text {
  position: absolute;
  top: 0;
}
.holiday-text h3 {
  color: var(--secondary-color--);
  margin-bottom: 20px;
}
.holiday-text p {
  max-width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 28px;
}
span {
  color: var(--primary-color--);
}
.holiday * {
  text-align: center;
}
.holiday-image-one {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  max-height: 229px;
}
.holiday-image-two {
  left: 100px;
  bottom: 0;
  position: absolute;
  max-height: 565px;
  max-width: 520px;
}
.holiday-image-three {
  right: 0;
  bottom: 232px;
  position: absolute;
  max-width: 429px;
  max-height: 430px;
}
.holiday-image-four {
  right: 286px;
  bottom: 280px;
  position: absolute;
}
.portfolio {
  background: none;
  height: auto;
  margin: 0;
  margin: 120px auto;
  max-width: 82.5%;
}
.portfolio-text * {
  text-align: start;
}
.portfolio-text p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 160% */
  margin-top: 22px;
  margin-bottom: 48px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.grid-images {
  width: 32%;
  max-height: 480px;
  border-radius: 16px;
  box-shadow: 0 0 10px black;
}
.grid-images:hover {
  transform: scale(1.07);
}
.subscribe {
  background: rgba(255, 0, 0, 0.05);
  max-height: 616px;
  text-align: center;
  flex-direction: column;
}
.sub-img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.sub-text p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 22px;
}
input {
  width: 50%;
  height: 72px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  padding: 0 0 0 30px;
}
.sub-text button {
  height: 73px;
  width: 20%;
  border-radius: 0px 50px 50px 0px;
  padding: 0;
}
/* footer section  */
footer {
  height: 609px;
  max-height: 609px;
  width: 100%;
  background: var(--secondary-color--);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.footer-text {
  display: flex;
  margin-top: 120px;
  height: 80px;
  justify-content: space-around;
}
.section-one,
.section-two {
  width: 375px;
}
.section-one p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
h5 {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}
.section-two img {
  width: 24px;
  height: 24px;
}
.pick {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.line {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 50px auto;
}
.icons {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.icons img {
  width: 64px;
  height: 64px;
}
.unsub {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
}
